<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="../static/css/d3Style.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">
    <title>Project 2</title>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Project 2 Dashboard</h1>
          <p>text</p>
        </div>
      </div>
    <div class='container'>
      <section class="row instructions"><h4>Instructions for dropdown menu</h4></section>
      <section class="row chart-section">
<div class="col-3">Filters</div>
<div class="col-6" id="BarChart">Bar Chart</div>
<div class="col-3">Filters</div>
</section>
       <section class="row chart-section">
         <div class="col-6 pr-3"><h4>Radial Chart 1</h4></div>
         <div class="col-6 pl-3"><h4>Radial Chart 2</h4></div>
       </section>
      <section class="row instructions"><h4>New Header aggregated data</h4></section>
      <section class="row chart-section" id="bubble"><h4>Bubble Chart</h4></section>
      
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/bar.js"></script>
    <script src="./static/js/bubble.js"></script>
    <!-- <script src="app.js"></script> -->
  
  </body>
</html>